<footer>
    <div class="footer-container">
        <div class="footer-contenedor-logo">
            <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-footer">
        </div>
        <nav class="footer-links">
            <ul>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Embarcaciones</a></li>
            </ul>
        </nav>
        <nav class="footer-social-media">
            <ul>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/home"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </nav>

        <p class="footer-rights">© 2023 Seatech - Todos los derechos reservados</p>
    </div>
</footer>