<footer>
    <div class="div-footer">
        <div class="div-logo">
            <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-footer">
        </div>
        <div class="div-contacto">
            <a href="" class="links">Donde estamos</a>
            <a href="" class="links">Sobre nosotros</a>
            <a href="" class="links">Contacto</a>
            <a href="" class="links">Embarcaciones</a>
        </div>
        <div class="div-social-media">
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube" id="icons"></i></a>
            <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook" id="icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" id="icons"></i></a>
            <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter" id="icons"></i></a>
        </div>
        <div class="div-derechos-reservados">
            <span>© 2023 Seatech - Todos los derechos reservados</span>
        </div>
    </div>
</footer>