<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaTech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/index-responsive.css">
</head>
<body>
    <header>
            <div class="logo-header">
                    <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-img">
            </div>
            <div class="search-bar-div">
                <form class="search-bar">
                <input type="text" placeholder="buscar producto..." name="search">
                <button type="submit" class="button-search-bar">Buscar</button>
            </div>
            </form>
        <div class="burger-nav-div">
            <nav class="burger-nav">
                <div class="burger-menu">
                <i class="fas fa-bars fa-5x"></i>
                </div>
            </nav>
        </div>
        <div class="nav-bar-div">
            <nav>
                <ul class="nav-bar">
                    <li class="nav-var-1-list">Login</li>
                    <li class="nav-var-1-list">Embarcaciones</li>
                    <li class="nav-var-1-list">Empresa</li>
                    <li class="nav-var-1-list">Contacto</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <H1>Hola</H1>
        <div>
            <h2>pepe</h2>
        </div>
        <div>
            <h4>Pepe</h4>
        </div>
        <div>
            <h4>pepe2</h4>
        </div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente rerum quas, laborum aliquid inventore delectus ipsum laboriosam deleniti ipsa maiores velit! Soluta facere dolor voluptatibus consequuntur, facilis ullam aliquid?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla nemo qui corporis rerum ipsam necessitatibus quam sunt? Reiciendis, quasi eius quis ipsum fuga animi est fugiat corporis dicta a!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro dolor neque dolores nulla cum consequatur quod soluta dolorum ut non, totam quis, eaque, veritatis in omnis iusto doloribus distinctio?
        </p>
    </main>
    <footer>
        <div class="div-footer">
            <div class="div-logo">
                <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-footer">
            </div>
            <div class="div-contacto">
                <a href="" class="links">Donde estamos</a>
                <a href="" class="links">Sobre nosotros</a>
                <a href="" class="links">Contacto</a>
                <a href="" class="links">Embarcaciones</a>
            </div>
            <div class="div-social-media">
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube" id="icons"></i></a>
                <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook" id="icons"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" id="icons"></i></a>
                <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter" id="icons"></i></a>
            </div>
            <div class="div-derechos-reservados">
                <span>© 2023 Seatech - Todos los derechos reservados</span>
            </div>
        </div>
    </footer>
</body>
</html>