<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>SeaTech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/index-responsive.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="titulo-h3">
                <div class="titulo-h3">
                    <h3>PRODUCTOS DESTACADOS</h3>
                </div>
            </div>
            <div class="conteiner-main">
                <article class="articulo-box-1">
                    <div class="art-div-box">
                        <div>
                            <img src="/images/productos/barco-img-1.png" alt="cookies">
                        </div>
                    </div>
                    <div class="detalle">
                        <div class="title-producto">
                            <p>Nombre del producto</p>
                        </div>
                        <div class="modelo">
                            <p>Modelo</p>
                        </div>
                        <div class="precio">
                            <p>precio de producto</p>
                        </div>
                        <div class="buy-button">
                            <a href="/productDetail">
                                <button>
                                    COMPRAR
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="articulo-box-2">
                    <div class="art-div-box">
                        <div>
                            <img src="/images/productos/barco-img-2.png" alt="cookies">
                        </div>
                    </div>
                    <div class="detalle">
                        <div class="title-producto">
                            <p>Nombre del producto</p>
                        </div>
                        <div class="modelo">
                            <p>Modelo</p>
                        </div>
                        <div class="precio">
                            <p>precio de producto</p>
                        </div>
                        <div class="buy-button">
                            <a href="/productDetail">
                                <button>
                                    COMPRAR
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="articulo-box-3">
                    <div class="art-div-box">
                        <div>
                            <img src="/images/productos/barco-img-3.png" alt="cookies">
                        </div>
                    </div>
                    <div class="detalle">
                        <div class="title-producto">
                            <p>Nombre del producto</p>
                        </div>
                        <div class="modelo">
                            <p>Modelo</p>
                        </div>
                        <div class="precio">
                            <p>precio de producto</p>
                        </div>
                        <div class="buy-button">
                            <a href="/productDetail">
                                <button>
                                    COMPRAR
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="articulo-box-4">
                    <div class="art-div-box">
                        <div>
                            <img src="/images/productos/barco-img-4.png" alt="cookies">
                        </div>
                    </div>
                    <div class="detalle">
                        <div class="title-producto">
                            <p>Nombre del producto</p>
                        </div>
                        <div class="modelo">
                            <p>Modelo</p>
                        </div>
                        <div class="precio">
                            <p>precio de producto</p>
                        </div>
                        <div class="buy-button">
                            <a href="/productDetail">
                                <button>
                                    COMPRAR
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="see-more-button">
                <div class="see-more-button">
                    <button>ver más</button>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>