<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login </title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus optio ipsa veniam iste! Rerum enim ab eum
        vitae, velit facilis nihil nisi esse sed mollitia nulla ullam sequi alias.


    </header>
    <main>
        <div class="contenedor-principal">
            <div class="titulo-del-form">
                <h3>Accede A tu Cuenta</h3>
            </div>

            <form action="login.html" method="post" class="contenedor-form">


                <input class="controls" type="text" name="value" placeholder="Tu Email">

                <input class="controls" type="password" name="contraseña" placeholder="contraseña">


               

                <label for="guardado">
                    <input class="checkbox" type="checkbox" name="checkbox"> mostrar contraseña

                </label>
                <div class="olvidaste-tu-password">
                    <p><a href="#"> ¿olvidaste tu contraseña? </a></p>
                </div>

                <input class="button" type="submit" name="submit" value="ingresar">


            </form>






        </div>


    </main>
    <footer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloremque repellat dolores, rem ipsa eos accusamus
        libero. Sunt, corrupti inventore.
    </footer>

</body>

</html>