<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login </title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

</head>

<body>
    <header>
        <div class="logo-bar">
            <div class="logo-header">
                <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-img">
           </div>
           <div class="nav-bar-div-3">
                <div class="div-centered-nav-bar-">
                    <nav>
                        <ul class="nav-bar">
                            <a href="" class="nav-var-1-list">LOGIN</a>
                            <a href="" class="nav-var-1-list">REGISTER</a>
                            <a href="" class="nav-var-1-list">EMBARCACIONES</a>
                            <a href="" class="nav-var-1-list">EMPRESA</a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="search-bar-div2">
                <div class="search-bar-div-2">
                <form class="search-bar2">
                <input type="text" placeholder="buscar producto..." name="search">
                <button type="submit" class="button-search-bar2">Buscar</button>
                </form>
                </div>
            </div>
        </div>
        <div class="search-bar-div">
            <div class="search-bar-div-2">
            <form class="search-bar">
            <input type="text" placeholder="buscar producto..." name="search">
            <button type="submit" class="button-search-bar">Buscar</button>
            </form>
            </div>
        </div>
    <div class="burger-nav-div">
        <nav class="burger-nav">
            <div class="burger-menu">
            <i class="fas fa-bars fa-5x"></i>
            </div>
        </nav>
    </div>
    <div class="nav-bar-div">
        <div class="div-centered-nav-bar">
            <nav>
                <ul class="nav-bar">
                    <a href="" class="nav-var-1-list">Login</a>
                    <a href="" class="nav-var-1-list">Register</a>
                    <a href="" class="nav-var-1-list">Embarcaciones</a>
                    <a href="" class="nav-var-1-list">Empresa</a>
                </ul>
            </nav>
        </div>
    </div>
</header>
    <main>
        <div class="contenedor-principal">
            <div class="titulo-del-form">
                <h3>Accede A tu Cuenta</h3>
            </div>

            <form action="login.html" method="post" class="contenedor-form">


                <input class="controls" type="text" name="value" placeholder="Tu Email">

                <input class="controls" type="password" name="contraseña" placeholder="contraseña">


               

                <label for="guardado">
                    <input class="checkbox" type="checkbox" name="checkbox"> mostrar contraseña

                </label>
                <div class="olvidaste-tu-password">
                    <p><a href="#"> ¿olvidaste tu contraseña? </a></p>
                </div>

                <input class="button" type="submit" name="submit" value="ingresar">


            </form>






        </div>


    </main>
    <footer>
        <div class="div-footer">
            <div class="div-logo">
                <img src="/images/logo/logo-seatech-2.png" alt="logo-seatech" class="logo-footer">
            </div>
            <div class="div-contacto">
                <a href="" class="links">Donde estamos</a>
                <a href="" class="links">Sobre nosotros</a>
                <a href="" class="links">Contacto</a>
                <a href="" class="links">Embarcaciones</a>
            </div>
            <div class="div-social-media">
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube" id="icons"></i></a>
                <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook" id="icons"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" id="icons"></i></a>
                <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter" id="icons"></i></a>
            </div>
            <div class="div-derechos-reservados">
                <span>© 2023 Seatech - Todos los derechos reservados</span>
            </div>
        </div>
    </footer>

</body>

</html>