<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario login </title>
</head>

<body>
    <section class="form-login">
        <h3>Accede A tu Cuenta</h3>
    </section>
    <input class="controls" type="text" name="value" placeholder="Tu Email">

    <input class="controls" type="password" name="contraseña" placeholder="contraseña">

    <input class="button" type="submit" name="submit" value="ingresar">

    <p><a href="#"> ¿olvidaste tu contraseña? </a></p>
</body>

</html>
<form>
    <h3> Accede A Tu Cuenta </h3>
    <p> </p>

    <button type="button"> Enviar </button>
</form>