<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { estilos: 'not-found-error', responsive: 'not-found-error-responsive', titulo: 'Not Found' }) %>
<body>
    <main>
        <div class="outer-container">
            <div class="image-container">
                <img src="/images/gifs/one-piece-ship-ofc.gif" alt="gif-one-piece">
            </div>
            <div class="text-container">
                <div>
                    <h3 class="h3-404">404</h3>
                </div>
                <div>
                    <p class="p-text">No pudimos encontrar la pagina requerida</p>
                </div>
                <div class="div-button-top">
                    <div>
                        <a href="/">
                            <button class="button-back">
                                Volver
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
