<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetail_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detalle de Producto</title>
</head>

<body>
    <section class="caja_contenedora">
        <div class="carrousel">
            <div class="contenedorCarrousel">
                <div class="itemCarrousel" id="itemCarrousel-1">
                    <div class="itemCarrouselTarjeta">A</div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-3">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-2">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-2">
                    <div class="itemCarrouselTarjeta">B</div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-1">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-3">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-3">
                    <div class="itemCarrouselTarjeta">C</div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-2">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-1">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contenedorCarrouselController">
                <a href="#itemCarrousel-1">•</a>
                <a href="#itemCarrousel-2">•</a>
                <a href="#itemCarrousel-3">•</a>
            </div>
        </div>
        <div class="producto">
            <p>Nombre del producto</p>
            <p>$ XXXX,XX</p>
            <button type="submit">COMPRAR</button>
        </div>
    </section>
    <div class="descripcionProducto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore ab corporis minus, enim
            recusandae, impedit illo voluptatum sit nulla atque consectetur aliquam quas cupiditate beatae velit optio.
            Blanditiis, rerum.</p>
    </div>
</body>
<footer>

</footer>

</html>