@media (min-width: 768px) {
  main {
    margin: 30px;
  }

  table {
    margin-top: 30px;
  }
}

/* Media query para escritorio (1024px) */
@media (min-width: 1024px) {
  main {
    margin: 40px;
  }

  .empty-cart img {
    width: 200px;
  }
}
