body {
    background-color: #e0e0e0;
}
/*HEADER*/
header {
    width: 100%;
    background-color: #001F3F;
}
.logo-header {
    width: 100%;
    background-color: #001F3F;
}
.logo-img {
    width: 80%;
}
.search-bar-div form {
    width: 100%;
    padding-left: 25px;
}
.search-bar-div input[type=text] {
    width: 75%;
    padding: 3px;
    border: 1px solid #ccc;
}
.search-bar-div button {
    background-color: #5fa2ff;
    color: white;
    padding: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    width: 19%;
    opacity: 0.9;
}
.search-bar {
    width: 100%;
    padding: 4px;
    background-color: #001F3F;
}
.search-bar input {
    width: 60%;
}
.button-search-bar {
    width: auto;
}
.nav-var-1-list {
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-bar-div {
    width: 50%;
}
.nav-bar {
    list-style-type: none;
    color: white;
    display: flex;
}
.burger-menu {
    background-color: #1259c3;
    color: #ebebeb;
    width: 6%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.burger-nav-div {
    background-color: #31466a;
}
/*FIN HEADER*/

/*MAIN*/
.titulo-h3 {
    text-align: center;
    font-size: 15px;
}
.div-mid {
    width: auto;
    height: 30px;
    background-color: #1259c3;
}
.conteiner-main {
    width: 100%;
    height: 1500px;
    background-color: #1259c3;
}
.articulo-box {
    background-color: #f4ff5f;
    width: auto;
    height: 500px;
    padding: 1px 3px 1px 3px;
    margin: 0px 15px 0px 15px;
}
.art-div-box {
    display: flex;
    justify-content: center;
}
.articulo-box div {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
}
.articulo-box img {
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
}
/*FIN MAIN*/

/*FOOTER*/
footer {
    width: 100%;
}
.div-footer {
    width: 100%;
    background-color: #001F3F;
    height: 220px;
}
.div-logo {
    background-color: #001F3F;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}
.div-contacto {
    background-color: #001F3F;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px;
}
.div-social-media {
    background-color: #001F3F;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.div-derechos-reservados {
    background-color: #001F3F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.logo-footer {
    width: 70%;
    height: 120px;
    padding: 10px 20px 20px 20px;
}
.links {
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
}
#icons {
    color: #FFFFFF;
    padding-right: 5px;
}
/*FIN FOOTER*/