/*MOBILE*/


@media (min-width:425px) {

    /*MAIN*/
    .articulo-box {
        margin-top: 10px;
        max-width: 350px;
    }

    /*FIN MAIN*/
}


/*TABLET*/
@media (min-width:768px) {

    /*MAIN*/
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteiner-main {
        padding: 30px;
        width: 90%;
        border-radius: 0%;
    }
    .articulo-box {
        width: 30%;
        max-height: auto;
    }
    .articulo-box img {
        max-height: 300px;
    }

    .search-bar-div input[type=text] {
        width: 89%;
        padding: 3px;
        border: 1px solid #ccc;
    }

    .search-bar-div button {
        width: 10%;
    }
    .titulo-h3 h3 {
        font-size: 20px;
    }

    /*FIN MAIN*/
}

@media (min-width:1023px) {

    /*MAIN*/
    .articulo-box {
        width: 30%;
        max-width: 350px;
    }
    .search-bar-div input[type=text] {
        width: 89%;
        padding: 3px;
        border: 1px solid #ccc;
    }

    .search-bar-div button {
        width: 10%;
    }
    .nav-bar-div-3 {
        padding: 0%;
    }
    /*FIN MAIN*/
}

@media (min-width:1180px) {

    /*MAIN*/
    .articulo-box {
        width: 32%;
        max-width: 350px;
    
    }

    /*FIN MAIN*/
}

@media (min-width:1450px) {

    /*MAIN*/
    .articulo-box {
        width: 20%;
        margin: auto;
        margin-top: 10px;
    }

    /*FIN MAIN*/
}