.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    letter-spacing: 1px;
    background-image: url(/images/banner-p.jpg);
    background-size: cover;
    background-position: top;
}
.welcome h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    opacity: 0; 
    transform: translateY(-50px); 
    animation: aparecer 0.5s ease forwards;
}

.titulo-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;

}

.titulo-h3 h3 {
    background-color: var(--primary-300);
    border-radius: 10px;
    font-weight: 600;
    color: #FFFFFF;
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: 30px;
}

.conteiner-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.articulo-box {
    width: 400px;
    height: auto;
    margin: 0px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-300);
    border-radius: 8%;
}

.articulo-box img {
    max-width: 100%;
    border-radius: 8% 8% 0% 0%;
    height: auto;
}

.title-producto {
    text-align: center;
    font-size: 20px;
    color: var(--text-100);
    padding-top: 8px;
    padding-bottom: 8px;
}

.modelo {
    text-align: center;
    color: var(--text-100);
    padding-bottom: 8px;
}

.precio {
    text-align: center;
    color: var(--text-100);
    padding-bottom: 8px;
}

.buy-button {
    text-align: center;
    padding-bottom: 8px;
}
.buy-button button {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 0;
    cursor: pointer;
    color: var(--text-100);
    border: 1px solid #00c7ec;
    transition: all 0.3s ease-out;
}

.buy-button button:hover {
    background-color: var(--primary-400);
}

.see-more-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.see-more-button main {
    background-color: var(--bg-400);
    border-radius: 10px;
    border: 1px solid #00c7ec;
}

.see-more-button button {
    padding: 5px 80px 5px 80px;
    text-transform: uppercase;
    color: var(--text-100);
    background-color: var(--primary-300);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.see-more-button button:hover {
    color: var(--text-100);
    background-color: var(--primary-400);
}
/*FIN MAIN*/

/*ANIMACIONES*/

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}