@media (min-width:530px) and (max-width:767px) {

    /*MOBILE TO TABLE*/
    .articulo {
        width: 45%;
        margin: auto;
        margin-top: 10px;
    }

    .conteiner-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*FIN MOBILE TO TABLE*/
}

/*TABLET*/
@media (min-width:768px) and (max-width:1023px) {

    /*MAIN*/
    .articulo {
        width: 44%;
        margin: 23px;
        margin-top: 10px;
    }

    .conteiner-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*FIN MAIN*/
}

@media (min-width:1024px) {

    /*MAIN*/
    /* .articulo-box {
        width: 33%;
        margin: auto;
        margin-top: 10px;
    } */

    .conteiner-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .articulo-box-4 {
        display: none;
    } */

    /*FIN MAIN*/
}