@media (min-width:530px) and (max-width:767px) {

    /*MOBILE TO TABLE*/
    main {
        width: 90%;
    }
    .articulo {
        width: 45%;
        margin: auto;
        margin-top: 10px;
    }

    .conteiner-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    /*FIN MOBILE TO TABLE*/
}

/*TABLET*/
@media (min-width:768px) {

    /*MAIN*/
    main {
        width: 90%;
    }
    .articulo {
        width: 24%;
        margin: 3px;
    }

    .conteiner-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
    .titulo-h2, .titulo-h2-2, .titulo-h3 {
        margin-left: 2%;
    }

    /*FIN MAIN*/
}

@media (min-width:1024px) {
}