@media (min-width:420px){
   .controls {
    width: 300px;
   }
}

@media (min-width:768px){
    .contenedor-principal {
    width: 50%;
    min-width: 500px;;
    }
   .controls {
    width: 400px;
   }
   .titulo-h2, .titulo-h2-2, .titulo-h3 {
    margin-left: 5%;
}
}

@media (min-width:1024px){
    .contenedor-principal {
        min-width: 600px;;
    }
    .controls {
        width: 500px;
    }
    .button{
        border-radius: 20px;
        color:white; 
    }
}
