:root {
    --primary-100:#0074D9;
    --primary-200:#5fa2ff;
    --primary-300:#d1ffff;
    --accent-100:#7FDBFF;
    --accent-200:#007a9b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --background-color:#01203f;
    --bg-200:#162e50;
    --bg-300:#31466a;    
}

main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #01203f;
    /*background-image: linear-gradient(135deg, #663366 40%, #EE7317); */
    background-image: linear-gradient(135deg, #3c28af 40%, #041182);
}

.outer-container {
    width: 700px; /* Ancho del cuadrado */
    height: 400px; /* Alto del cuadrado */
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container {
    width: 300px;
    height: 300px;
}
.text-container {
    padding: 10px;
}

.image-container img {
    width: 300px;
    height: 300px;
}
.h3-404 {
    font-size: 80px;
}
.p-text {
    font-size: 20px;
}
.button-back {
    width: 80px;
    height: 40px;
    background-image: linear-gradient(135deg, #3c28af 40%, #041182);
    border-radius: 10%;
    border-style: hidden;
    color: #FFFFFF;
    cursor: pointer;
}
.div-button-top {
    display: flex;
    justify-content: center;
    align-items: center;
}