/* Estilos para el formulario de añadir producto */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.form-product-add {
    background-color: var(--bg-200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10 white;
    margin:auto;
}

.form-product-add input[type="text"],
.form-product-add select,
.form-product-add textarea,
.form-product-add input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contenedor-input input[type="file"] {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-100);
    transition: all 0.3s ease-out;
}

.form-product-add input[type="text"]:focus,
.form-product-add select:focus,
.form-product-add textarea:focus,
.form-product-add input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.form-product-add label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-product-add .radios {
    margin-bottom: 20px;
}

.form-product-add .radio_btn {
    margin-right: 20px;
}

.contenedor-button {
    text-align: center;
}

.boton {
    width: 50%;
    padding: 10px 5px;
    color: var(--text-100);
    border: none;
    background-color:var(--primary-400);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0px;
}

.boton:hover {
    outline: 1px solid #00c7ec;
    background-color: #FFFFFF;
    color: var(--primary-400);
    transition: all 0.3s ease-out;
}

#imagenActual{
    max-width: 100%;
    height: auto;
}