@media (min-width:768px) {
    main {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:1024px) {
    .info {
        margin-right: 25px;
        width: 30%;

    }

    main{
        width: 100%;
    }
}