@media (max-width: 426px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
  }
  .form-product-add {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .caja-superior {
    display: flex;
    flex-direction: row;
  }
  .izq {
    margin: 0px;
    width: 45%;
  }
  .der {
    margin: 0px;
    width: 45%;
  }
}
