

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.home {
    height: 50px;
}

.caja_contenedora {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-300);
    border-radius: 20px;
    max-width: 1000px;
}

.foto_producto{
    width: 100%;
    border-radius: 20px;
}

.producto {
    width: 100%;
    background-color: var(--primary-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.nombre_producto {
    font-weight: 100;
    font-size: 30px;
}

.nombre_producto, .precio_producto, .descripcion_producto, .año_producto, .tipo_producto, .condicion_producto {
    color: var(--text-100);
    text-transform: uppercase;
}

.cantidad-actual {
    color: var(--text-100);
}

.producto button{
    background-color: #434242;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: 0;
    cursor: pointer;
    color: var(--text-100);
    transition: all 0.3s ease-out;
    margin: 2px;
}

.producto button a{
    text-decoration: none;
    color: white;
}

.producto button:hover{
    background-color: var(--primary-400);
    outline: 1px solid #FFFFFF;
}

.descripcionProducto{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
}
.descripcionProducto p{
    padding: 5px;
}