/* Estilos para el formulario de añadir producto */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.form-product-add {
    background-color: #5fa2f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10 white;
    margin:auto;
}

.form-product-add input[type="text"],
.form-product-add select,
.form-product-add textarea,
.form-product-add input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid blue;
    border-radius: 5px;
}

.form-product-add input[type="text"]:focus,
.form-product-add select:focus,
.form-product-add textarea:focus,
.form-product-add input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.form-product-add label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-product-add .radios {
    margin-bottom: 20px;
}

.form-product-add .radio_btn {
    margin-right: 20px;
}

.form-product-add button {
    background-color: black;
    background-image: linear-gradient(135deg, #0074D9 40%, #5fa2ff);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-product-add button:hover {
    background-color: #0056b3;
}
#imagenActual{
    max-width: 100%;
    height: auto;
}