main {
    width: 90%;
    margin: auto;
}

.home {
    height: 100px;
}
.h3-form {
    text-align: center;
    color: var(--text-100);
    padding-bottom: 10px;
}

.h2-form {
    color: var(--text-100);
    text-align: center;
}

.contenedor-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-300);
    margin: 10px auto;
    border-radius: 30px;
    padding: 20px;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
}

.contenedor-input,
.contenedor-select,
.contenedor-telefono {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-input label {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-100);
    transition: all 0.3s ease-out;
}

.social-icon {
    color: var(--text-100);
}

.contenedor-button {
    text-align: center;
}

.contenedor-input input,
.contenedor-select select {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 18px;
}

/* .contenedor-input label {
    display: block;
    font-weight: 700;
} */

.contenedor-telefono input {
    border: none;
    padding: 10px;
    border-radius: 18px;
}

.cont-tel-constante {
    width: 60px;
}

.cont-tel-dinamico {
    width: 65%;
}

.boton {
    width: 50%;
    padding: 10px 5px;
    color: var(--text-100);
    border: none;
    background-color:var(--primary-400);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0px;
}

.boton:hover {
    outline: 1px solid #00c7ec;
    background-color: #FFFFFF;
    color: var(--primary-400);
    transition: all 0.3s ease-out;
}