main {
    width: 90%;
    margin: auto;
}

body {
    background-color: var(--background-color);
}

.logo {
    width: 50%;
}

.contenedor-formulario {
    margin: 10px auto;
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-200);
    border-radius: 3%;
}

.contenedor-input,
.contenedor-select {
    padding: 15px;
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 18px;
}

select {

    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 18px;

}


.boton {
    margin: 10px 0px;
    padding: 8px;
    width: 50%;
    border-radius: 20px;
    border: none;
}