body {
    background-color: var(--background-color);
}

main {
    width: 90%;
    margin: auto;
}

.contenedor-formulario {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primary-200);
    border-radius: 30px;
}

.contenedor-input,
.contenedor-select {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-input input,
.contenedor-select select {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 18px;
}


.boton {
    width: 50%;
    padding: 10px 5px;
    color: #fff;
    background-image: linear-gradient(135deg, #0074D9 40%, #1a65cf);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0px;
}