* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-100:#0074D9;
    --primary-200:#5fa2ff;
    --primary-300:#d1ffff;
    --accent-100:#7FDBFF;
    --accent-200:#007a9b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --text-300:#515151;
    --background-color:#e0e0e0;
    --background-color-2:#01203f;
    --bg-200:#162e50;
    --bg-300:#31466a;    
}
body {
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    width: 100%;
    background-color: #001F3F;
}
.logo-header {
    width: 100%;
    background-color: #001F3F;
}
.logo-img {
    width: 80%;
}
.search-bar-div form {
    width: 100%;
    padding-left: 25px;
}
.search-bar-div input[type=text] {
    width: 75%;
    padding: 3px;
    border: 1px solid #ccc;
}
.search-bar-div button {
    background-color: #5fa2ff;
    color: #fff;
    padding: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    width: 19%;
}
.search-bar {
    width: 100%;
    padding: 4px;
    background-color: #001F3F;
}
.search-bar input {
    width: 60%;
}
.button-search-bar {
    width: auto;
}
.nav-var-1-list {
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
    color: #fff;
}
.nav-bar-div {
    width: 50%;
    margin-bottom: 10px;
}
.nav-bar {
    list-style-type: none;
    color: #fff;
    display: flex;
}
.burger-menu {
    background-color: #1259c3;
    color: #ebebeb;
    width: 6%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.burger-nav-div {
    background-color: #31466a;
}
/*FIN HEADER*/

/*FOOTER*/
footer {
    width: 100%;
}
.div-footer {
    width: 100%;
    background-color: #001F3F;
    height: 220px;
}
.div-logo {
    background-color: #001F3F;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}
.div-contacto {
    background-color: #001F3F;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px;
}
.div-social-media {
    background-color: #001F3F;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.div-derechos-reservados {
    background-color: #001F3F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.logo-footer {
    width: 70%;
    height: 120px;
    padding: 10px 20px 20px 20px;
}
.links {
    padding: 5px;
    color: #fff;
    text-decoration: none;
}
#icons {
    color: #fff;
    padding-right: 5px;
}
/*FIN FOOTER*/

/*RESPONSIVE HEADER Y FOOTER*/

/*MOBILE*/
@media (min-width:1px) and (max-width:320px) {
    .nav-bar {
        display: none;
    }
    .nav-bar-div-2 {
        display: none;
    }
    .links {
        font-size: 12px;
    }
    .logo-header {
        display: flex;
        justify-content: center;
    }
    .logo-footer {
        width: 90%;
        height: 80px;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    .div-logo {
        height: 80px;
    }
    .div-footer {
        width: 100%;
        background-color: #001F3F;
        height: 175px;
    }
    .search-bar-div2 {
        display: none;
    }
}
@media (min-width:321px) and (max-width:424px) {
    .nav-bar {
        display: none;
    }
    .nav-bar-div-2 {
        display: none;
    }
    .logo-header {
        display: flex;
        justify-content: center;
    }
    .links {
        font-size: 12px;
    }
    .logo-footer {
        width: 85%;
        height: 110px;
        padding: 10px 20px 20px 20px;
    }
    .div-logo {
        height: 100px;
    }
    .div-footer {
        width: 100%;
        background-color: #001F3F;
        height: 170px;
    }
    .div-contacto {
        height: 30px;
    }
    .search-bar-div2 {
        display: none;
    }
}
@media (min-width:425px) and (max-width:767px) {
    .nav-bar {
        display: none;
    }
    .nav-bar-div-2 {
        display: none;
    }
    .logo-header {
        display: flex;
        justify-content: center;
    }
    .logo-footer {
        width: 85%;
        height: 110px;
        padding: 10px 20px 20px 20px;
    }
    .search-bar-div2 {
        display: none;
    }
    .div-logo {
        height: 100px;
    }
    .div-footer {
        width: 100%;
        background-color: #001F3F;
        height: 175px;
    }
    .links {
        font-size: 13px;
    }
    .div-contacto {
        height: 30px;
    }
}
@media (min-width:530px) and (max-width:767px) {
/*MOBILE TO TABLE*/
.articulo-box-1, .articulo-box-2, .articulo-box-3, .articulo-box-4 {
    width: 45%;
    margin: auto;
    margin-top: 10px;
}
.conteiner-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*FIN MOBILE TO TABLE*/
}
/*TABLET*/
@media (min-width:768px) and (max-width:1023px) {
    /*HEADER*/
    .logo-bar {
        display: flex;
        width: 100%;
    }
    .nav-bar-div-2 {
        display: none;
    }
    .logo-header {
        width: 30%;
        height: 70px;
    }
    .logo-img {
        width: 100%;
        height: 70px;
    }
    .nav-bar {
        display: flex;
    }
    .nav-bar-div-3 {
        display: flex;
        justify-content: center;
        padding-top: 25px;
        width: 70%;
    }
    .nav-var-1-list {
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-bar-div2 {
        display: none;
    }
    .search-bar-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search-bar-div-2 {
        width: 100%;
    }
    .search-bar-div form {
        width: 100%;
        padding: 25px;
    }
    .search-bar-div input[type=text] {
        width: 75%;
        padding: 3px;
        border: 1px solid #ccc;
    }
    .search-bar-div button {
        width: 23%;
    }
    .search-bar {
        width: 100%;
        padding: 4px;
        background-color: #001F3F;
    }
    .search-bar input {
        width: 60%;
    }
    .button-search-bar {
        width: auto;
    }
    .burger-nav-div {
        display: none;
    }
    .nav-bar-div {
        display: none
    }
    .div-centered-nav-bar {
        padding-bottom: 10px;
    }
    /*FIN HEADER*/
    /*FOOTER*/
    .logo-footer {
        width: 50%;
    }
    .div-contacto {
        height: 30px;
    }
    .links {
        padding: 5px 20px 5px 20px;
    }
    /*FIN FOOTER*/
}
@media (min-width:1024px) {
    /*HEADER*/
    .nav-bar-div {
        display: none;
    }
    .burger-nav-div {
        display: none;
    }
    .logo-header {
        width: 50%;
    }
    .logo-img {
        width: 70%;
        height: 100px;
    }
    .logo-bar {
        display: flex;
        height: 100px;
    }
    .nav-bar-div-3 {
        width: 50%;
    }
    .div-centered-nav-bar- {
        display: flex;
        justify-content: center;
        height: 100px;
        padding-top: 40px;
    }
    .nav-var-1-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .search-bar-div form {
        width: 100%;
        padding-left: 25px;
    }
    .search-bar-div input[type=text] {
        width: 75%;
        padding: 3px;
        border: 1px solid #ccc;
    }
    .search-bar-div button {
        width: 19%;

    }
    .search-bar {
        width: 100%;
        padding: 4px;
        background-color: #001F3F;
    }
    .search-bar input {
        width: 60%;
    }
    .button-search-bar {
        width: auto;
    }
    .search-bar-div2 {
        display: none;
    }
    /*FIN HEADER*/
    /*FOOTER*/
    .logo-footer {
        width: 40%;
    }
    .nav-var-1-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .div-contacto {
        height: 30px;
    }
    .links {
        padding: 5px 20px 5px 20px;
    }
    /*FIN FOOTER*/
}
/*FIN RESPONSIVE HEADER Y FOOTER*/