* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-100: #0074D9;
    --primary-200: #5fa2ff;
    --primary-300: #d1ffff;
    --accent-100: #7FDBFF;
    --accent-200: #007a9b;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --text-300: #515151;
    --background-color: #e0e0e0;
    --background-color-2: #01203f;
    --bg-200: #162e50;
    --bg-300: #31466a;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    width: 100%;
    background-color: #001F3F;
    height: auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    margin: auto;
}

.logo-img {
    width: auto;
    /* Ajusta automáticamente el ancho de la imagen */
    height: 45px;
    /* Establece la altura deseada para la imagen */
}

.menu-carrito {
    display: flex;
    gap: 6px;
}

/* Estilo para el enlace del carrito de compras */
.menu-carrito a {
    text-decoration: none;
    /* Elimina la decoración de texto predeterminada */
    color: #333;
    /* Color del texto */
}

.cart-icon-mobile {
    position: relative;
}

.cart-badge-mobile {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
}

.cart-badge-mobile-list,
.cart-badge-desktop {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.menu-carrito button {
    width: 2.3rem;
    color: white;
    padding: 6px;
    border-radius: 5px;
    background-color: #0074D9;
    font-size: large;
    border: transparent;
}

.nav-bar-default {
    display: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

.search-bar input {
    border: none;
    padding: 7px;
    border-radius: 5px 0px 0px 5px;
    width: 70%;
}

.search-bar button {
    border: none;
    padding: 7px;
    border-radius: 0px 5px 5px 0px;
    background-color: #0074D9;
    color: white;
}

.nav-bar-mobile {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.nav-bar-mobile ul {
    list-style: none;
}

/* The navigation menu links */
.nav-bar-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 400;
    display: flex;
    gap: 14px;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.nav-bar-mobile a:hover {
    background-color: #0074D9;
}

/* Position and style the close button (top right corner) */
.nav-bar-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*PARA EL SUBMENU*/
.nav-bar-mobile .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-bar-mobile .submenu-items {
    display: none;
    flex-direction: column;
    padding-left: 32px;
    position: relative;
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Fondo del submenú */
    border: 1px solid #444;
    /* Borde del submenú */
    z-index: 1;
    /* Asegura que el submenú esté sobre otros elementos */
}

/*FIN HEADER*/

/*FOOTER*/
footer {
    width: 100%;
    height: auto;
    background-color: #001F3F;
}

.footer-contenedor-logo {
    display: flex;
    justify-content: center;
}

.logo-footer {
    width: 60%;
    overflow: hidden;
}

.footer-links ul,
.footer-social-media ul {
    list-style: none;
    display: flex;
    color: white;
    padding: 5px;
    justify-content: center;
}

.footer-links li,
.footer-social-media li {
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 9px;
}

.footer-social-media a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 5px;
}

.footer-rights {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 6px;
}

/*FIN FOOTER*/

/*EXTRA - VALIDACIONES - FORMULARIOS*/

.error {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f00;
    border-radius: 4px;
    background-color: #f8d7da;
    color: #721c24;
}

/* Estilos para input válido */
.is-valid {
    border: 1px solid #28a745;
    /* Borde verde */
}

/* Estilos para input no válido */
.is-invalid {
    border: 1px solid #dc3545;
    /* Borde rojo */
}

/*RESPONSIVE HEADER Y FOOTER*/
/* TABLET VIEW */
@media (min-width:768px) {

    /* HEADER */

    .logo-img {
        height: 55px;
    }

    .menu-carrito {
        display: none;
    }

    .nav-bar-default {
        display: block;
    }

    .nav-bar-default ul {
        list-style: none;
        display: flex;
    }

    .nav-bar-default li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
    }

    .nav-bar-default a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }

    .nav-bar-default .profile-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    /* When you mouse over the navigation links, change their color */
    .nav-bar-default a:hover {
        background-color: #0074D9;
    }

    .nav-bar-default .submenu {
        position: relative;
    }

    .nav-bar-default .submenu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 37px;
        /* Stay at the top */
        left: -23px;
        background-color: #111;
        /* Fondo del submenú */
        border: 1px solid #444;
        /* Borde del submenú */
        z-index: 1;
        /* Asegura que el submenú esté sobre otros elementos */
    }

    /* FOOTER */

    .logo-footer {
        width: 40%;
    }

    .footer-links a {
        font-size: 1rem;
        padding: 9px;
    }

    .footer-social-media a {
        font-size: 1.2rem;
        padding: 5px;
    }

    .footer-rights {
        font-size: 1rem;
        padding: 6px;
    }
}

/* TABLET VIEW */
@media (min-width:1024px) {

    /* HEADER */
    .logo-img {
        height: 75px;
    }

    /* FOOTER */

    .footer-links a {
        font-size: 1.2rem;
        padding: 9px;
    }

    .footer-social-media a {
        font-size: 1.4rem;
        padding: 5px;
    }

    .footer-rights {
        font-size: 1.2rem;
        padding: 6px;
    }
}

/*FIN RESPONSIVE HEADER Y FOOTER*/