<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{estilos: 'not-found-error', responsive: 'not-found-error-responsive' , titulo: 'Error 404' }) %>

<body>
    <main>
        <section class="section_header">
            <img src="/images/logo/seatech-logo-hd.png" alt="logo seatech" class="img">
        </section>
        <section class="section_footer">
            <h4 class="h4">error 404</h4>
            <p class="p">lo siento no pudimos encontrar la pagina</p>
            <a href="/"><button class="button">volver</button></a>
        </section>
    </main>
</body>
</html>