<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGOUT</title>
    <form action="/user/logout" method="post">
        <button type="submit">DESLOGUEARSE</button>
    </form>
</head>

<body>

</body>

</html>