<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productDetail_styles' , responsive: 'productDetail-responsive' ,
    titulo: 'Detalle de producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>



            </main>
            <%- include('../partials/footer') %>
    </body>

</html>