<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productDetail_styles' , responsive: 'productDetail-responsive' ,
    titulo: 'Detalle de producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="caja_contenedora">
                    <div class="carrousel">
                        <textarea name="textarea" rows="10" cols="50" placeholder="AQUI VA UNA IMAGEN"
                        id="textarea_text"></textarea>
                    </div>
                    <div class="producto">
                        <p>Nombre del producto</p>
                        <p>$ XXXX,XX</p>
                        <button type="submit"><a href="cart">COMPRAR</a></button>
                    </div>
                </section>
                <div class="descripcionProducto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore ab corporis minus,
                        enim
                        recusandae, impedit illo voluptatum sit nulla atque consectetur aliquam quas cupiditate beatae
                        velit
                        optio.
                        Blanditiis, rerum.</p>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>