<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: 'productAdd' , responsive: 'productAdd-responsive' , titulo: 'Añadir producto'
    }) %>

    <body>
        <%- include('../partials/header') %>
            <main> 
                <div class="info">
                    <p>Por favor introduzca su nombre, información de contacto y datos de su embarcacion en el siguiente formulario.</p>
                    <p>Adjuntá las fotos de tu embarcación en la mayor calidad y tamaño posible haciendo click en el botón «seleccionar archivo».</p>
                    <p>Las casillas marcadas con * son obligatorias</p>
                </div>
                <form action="/productAdd" class="form-product-add">
                    <div class="caja-superior">
                        <div class="izq">
                            <input type="text" placeholder="Nombre*" required>
                            <input type="email" placeholder="Email*" required>
                            <input type="text" placeholder="Categoria" required>
                            <input type="text" placeholder="Estola (m)" required>
                        </div>
                        <div class="der">
                            <input type="text" placeholder="Apellido*" required>
                            <input type="tel" placeholder="Telefono" required>
                            <input type="text" placeholder="Marca/Modelo" required>
                            <input type="text" placeholder="valor(usd)" required>
                        </div>

                    </div>
                    <textarea name="textarea" rows="10" cols="50"> </textarea>
                    <input type="file" multiple required accept=".png, .jpg" >
                    
                    <button type="submit">Añadir Producto</button>


                
                </form>


            </main>
            <%- include('../partials/footer') %>
    </body>

</html>